@charset "ISO-8859-1";


.container { 
	max-width: 1178px;
} 

a {
		cursor: pointer;
		text-decoration:none !important;
}

a:hover {
		color: #87b106 !important;
}

ul li {
	list-style: none;
}


.ct-input {
		width: 100%;  
		padding: 12px; 
		border: 1px solid #ccc;
		font-size: 14px;
   	    background-color: #f7f7f7;
	}
	.ct-input:focus {
		outline: 1px solid #87b106;
	}
	
	.ct-select { 
		border: 1px solid #ccc;
		font-size: 14px;
		background-color: #f7f7f7;
		padding: 12px;
	}
	
	.container-input {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-bottom: 14px;
		font-size:14px;
		
	}
	.container-input > label {
		 font-size: 14px;
		 margin-bottom: 0px; 
	} 



