

:root {
  --offcanvas-width: 270px;
}
.sidebar-nav {
  width: var(--offcanvas-width) !important;
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

.ct-navbar {
  	margin-left: 0px;
  }

@media screen and (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none !important;
  }
  .sidebar-nav {
    -webkit-transform: none !important;
    transform: none !important;
    visibility: visible !important;

  }
  
  .ct-navbar {
  	margin-left: var(--offcanvas-width) !important;
  }
}
