.mt-navbar {
 	margin-top: 54px; 
}

.text-green-hover:hover {
	color: #87b106 !important;
}


.bg-green { 
	background-color: #87b106; 
}


.input-footer { 
	padding: 12px 16px;
	width: 280px;
	
	border-radius: 28px;
}

.button-footer {
	
	border-radius: 28px;
	padding: 0px 36px;
	background-color: #87b106; 
	border: none;
}



